/*
 * NOTE:
 * - The use of browser-specific styles (-moz-, -webkit-) should be avoided.
 *   If used, they may not render correctly for people reading the email in
 *   a different browser than the one from which the email was sent.
 * - The use of state-dependent styles (like a:hover) don't work because they
 *   don't match at the time the styles are made explicit. (In email, styles
 *   must be explicitly applied to all elements -- stylesheets get stripped.)
 */

/* This is the overall wrapper, it should be treated as the `body` section. */
.markdown-here-wrapper {
}

/* To add site specific rules, you can use the `data-md-url` attribute that we
   add to the wrapper element. Note that rules like this are used depending
   on the URL you're *sending* from, not the URL where the recipient views it.
*/
/* .markdown-here-wrapper[data-md-url*="mail.yahoo."] ul { color: red; } */
html
{
  margin: 0px;
  padding: 0px;
  /*background-color: #bbb;*/
  font-weight: 300;
  height: 100%;
}

body
{
  font-size: 10pt;
  background-color: #fff;
  margin:0px auto;
  text-align: center; /* for aligning display-inline figures */
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  counter-reset: figures; 
}

h1,h2,h3,h4,p,li,div
{
  text-align: justify;
}


@media screen 
{
  html
  {
    background-image: url(images/background.gif);
  }
  body
  {
    width: 620px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    min-height: 100%;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
  }
}

img
{
  height: 220px;
}

figure
{
  display: inline-block;
  vertical-align: top;
  width: 45%; 
  margin: 0 auto;
  border: 5px solid #FFF;
}

figcaption
{
  font-style: italic;
  text-align: left;
}
figcaption::before
{
  counter-increment: figures; 
  font-weight: bold;
  content: "Figure "  counter(figures) ": ";
}

pre, code {
  font-size: 0.85em;
  font-family: Consolas, Inconsolata, Courier, monospace;
}

code {
  margin: 0 0.15em;
  padding: 0 0.3em;
  border: 1px solid #EAEAEA;
  background-color: #F8F8F8;
  border-radius: 3px;
  display: inline; /* added to fix Yahoo block display of inline code */
}

pre {
  font-size: 1em;
  line-height: 1.2em;
}

pre code {
  white-space: pre;
  overflow: auto; /* fixes issue #70: Firefox/Thunderbird: Code blocks with horizontal scroll would have bad background colour */
  border-radius: 3px;
  border: 1px solid #CCC;
  padding: 0.5em 0.7em;
  display: block !important; /* added to counteract the Yahoo-specific `code` rule; without this, code blocks in Blogger are broken */
}

/* In edit mode, Wordpress uses a `* { font: ...;} rule+style that makes highlighted
code look non-monospace. This rule will override it. */
.markdown-here-wrapper[data-md-url*="wordpress."] code span {
  font: inherit;
}

/* Wordpress adds a grey background to `pre` elements that doesn't go well with
our syntax highlighting. */
.markdown-here-wrapper[data-md-url*="wordpress."] pre {
  background-color: transparent;
}

/* This spacing has been tweaked to closely match Gmail+Chrome "paragraph" (two line breaks) spacing. */
body p {
  /* !important is needed here because Hotmail/Outlook.com uses !important to
     kill the margin in <p>. We need this to win. */
  margin: 1.2em 0 !important;
}

table, pre, dl, blockquote, q, ul, ol {
  margin: 1.2em 0;
}

ul, ol {
  padding-left: 2em;
}

li {
  margin: 0.5em 0;
}

/* Space paragraphs in a list the same as the list itself. */
li p {
  /* Needs !important to override rule above. */
  margin: 0.5em 0 !important;
}

/* Smaller spacing for sub-lists */
ul ul, ul ol, ol ul, ol ol {
  margin: 0;
  padding-left: 1em;
}

dl {
  padding: 0;
}

dl dt {
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
}

dl dd {
  margin: 0 0 1em;
  padding: 0 1em;
}

blockquote, q {
  border-left: 4px solid #DDD;
  padding: 0 1em;
  color: #777;
  quotes: none;
}

blockquote::before, blockquote::after, q::before, q::after {
  content: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.3em 0 1em;
  padding: 0;
  font-weight: bold;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

h1 em, h2 em, h3 em, h4 em, h5 em, h6 em{
  font-style: normal;
  font-weight: normal;
  font-family: "HelveticaNeue-UltraLight","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

h1 {
  font-size: 1.6em;
  border-bottom: 1px solid #ddd;
}

hr {
  border: none;
  height: 1px;
  background-color: #ddd;
}

h2 {
  font-size: 1.25em;
  border-bottom: 1px solid #eee;
}

h3 {
  font-size: 1.15em;
}

h4 {
  font-size: 1.75em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 1em;
  color: #777;
}

table {
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;
  font: inherit;
  border: 0;
}

tbody {
  margin: 0;
  padding: 0;
  border: 0;
}

table tr {
  border: 0;
  border-top: 1px solid #CCC;
  background-color: white;
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n) {
  background-color: #F8F8F8;
}

table tr th, table tr td {
  font-size: 1em;
  border: 1px solid #CCC;
  margin: 0;
  padding: 0.5em 1em;
}

table tr th {
 font-weight: bold;
  background-color: #F0F0F0;
}

.footnotes ol li em b
{
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 500;
}

.footnotes ol li strong
{
  font-weight: 500;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}


a.citation
{
  color: inherit;
  text-decoration: none;
}

a.citation:hover
{
  color: #0000EE;
  text-decoration: underline;
}

div.footnotes hr
{
  border: 0;
}

.footnotes b
{
}

@page {
  size: 8.5in 11in;
  margin: 10%;
  orphans:1; 
  widows:1;  
  @top-left{
    width: 82%;
    text-align: right;
    font-weight: bold;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  }
  @top-right{
    white-space: nowrap;
    font-family: "HelveticaNeue-UltraLight","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  }
  @bottom-right {
    content: counter(page)"/"counter(pages);
    font-size: 9pt;
    font-style: italic;
    font-family: "HelveticaNeue-UltraLight","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  }
}
@page :first{
  @top-left {
    content: none;
  }
  @top-right {
    content: none;
  }
}

@media screen
{
  body
  {
    position: relative;
  }
  #pdf-link
  {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 5px;
  }
}
@media print
{
  #pdf-link
  {
    display: none;
  }
}
