figure
{
  display: block;
  max-width: 100%;
}

img 
{
  max-width: 100%;
height: auto;
width: auto;
}

h1 em, h2 em, h3 em, h4 em, h5 em, h6 em
{
  font-style: italic;
  font-weight: bold;
  font-family: inherit;
}
